src/UnitySilverlightApp/UnitySilverlightApp/Service References/ProductService/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnityBO.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnityBO.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ProductDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTOObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DaysToManufacture" type="xs:int" />
          <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductId" type="xs:int" />
          <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Style" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubcategoryId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="DTOObjectBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DTOObjectBase" nillable="true" type="tns:DTOObjectBase" />
  <xs:complexType name="ProductSubcategoryDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTOObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="ProductSubcategoryId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductSubcategoryDTO" nillable="true" type="tns:ProductSubcategoryDTO" />
  <xs:complexType name="ArrayOfProductCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategoryDTO" nillable="true" type="tns:ProductCategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCategoryDTO" nillable="true" type="tns:ArrayOfProductCategoryDTO" />
  <xs:complexType name="ProductCategoryDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTOObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductCategoryDTO" nillable="true" type="tns:ProductCategoryDTO" />
  <xs:complexType name="ArrayOfProductSubcategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSubcategoryDTO" nillable="true" type="tns:ProductSubcategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSubcategoryDTO" nillable="true" type="tns:ArrayOfProductSubcategoryDTO" />
</xs:schema>