src/UnitySilverlightApp/UnitySilverlightApp/Service References/ProductService/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kettenba.ch" elementFormDefault="qualified" targetNamespace="http://kettenba.ch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stonecold/UnityServiceApp/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnityBO.DTO" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnityBO.DTO" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnityBO.DTO" minOccurs="0" name="GetProductResult" nillable="true" type="q2:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsBySubcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UnityBO.DTO" minOccurs="0" name="subcategory" nillable="true" type="q3:ProductSubcategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsBySubcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UnityBO.DTO" minOccurs="0" name="GetProductsBySubcategoryResult" nillable="true" type="q4:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UnityBO.DTO" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q5:ArrayOfProductCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UnityBO.DTO" minOccurs="0" name="GetSubcategoriesResult" nillable="true" type="q6:ArrayOfProductSubcategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategoriesByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UnityBO.DTO" minOccurs="0" name="category" nillable="true" type="q7:ProductCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategoriesByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UnityBO.DTO" minOccurs="0" name="GetSubcategoriesByCategoryResult" nillable="true" type="q8:ArrayOfProductSubcategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>